* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  padding: 0 234px;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

.primary-heading,
.secondary-heading {
  font-weight: bold;
  font-family: 'Playfair Display', serif;
}

.primary-heading {
  font-size: 24px;
  color: #000;
}

.secondary-heading {
  font-size: 18px;
}

.italic-heading {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
}

/* ----------header----------- */

header {
  margin: 2rem 0;
}

#info {
  display: flex;
}

#info img {
  width: 13px;
  margin: 5px 12px 0 0;
  align-self: flex-start;
}

#info p {
  font-weight: 500;
  font-size: 12px;
  margin: 0;
  color: #000;
}

/* -------------hero image----------- */

.hero-image {
  object-fit: contain;
  border-radius: 12px;
  max-height: 470px;
}

/* -------------Details----------- */

.details-wrapper {
  display: grid;
  margin: 2rem 0;
}

.details-wrapper li {
  display: flex;
  margin: 1rem 0;
}

/* Timing Info */

.timing-info {
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
}

.timing-info .card:first-child {
  grid-column: 1/4;
}

.card {
  display: flex;
  align-items: center;
}

.card:last-child {
  margin-bottom: 0px;
}

.card-icon {
  margin-right: 0.5rem;
  color: #4f4f4f;
}

.card-body span {
  display: block;
  font-size: 10px;
  font-weight: 500;
}

.text-muted {
  color: #bdbdbd;
  font-size: 8px;
  font-weight: bold;
}

.highlight {
  color: #f2994a;
}

/* Procedure-ingredients */

.ingredients label {
  margin-left: 0.5rem;
  font-size: 14px;
}

.ingredients input[type='checkbox']:checked + label {
  text-decoration: line-through;
}

/* Procedure-instructions */

.instructions {
  font-size: 16px;
}

.instructions ul {
  color: #000;
}

.step-number {
  border: none;
  outline: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 36px;
  max-width: 36px;
  height: 34px;
  border-radius: 6px;
  font-size: 24px;
  color: #fff;
  background: #f2994a;
  margin-right: 0.5rem;
}

/* ----------Recipe source------- */

#recipe-source,
#recipe-source a {
  font-size: 16px;
  color: #bdbdbd;
  margin-top: 2.5rem;
}

/* --------footer-------- */

footer {
  text-align: center;
  font-weight: 500;
  color: #828282;
}

footer a {
  color: inherit;
  text-decoration: underline;
}

@media only screen and (max-width: 1100px) {
  .container {
    padding: 0 100px;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    padding: 0 20px;
  }
}

@media only screen and (min-width: 800px) {
  .details-wrapper {
    grid-template-columns: 0.7fr 0.3fr;
    column-gap: 20px;
  }
  .timing-info {
    grid-column: 2/3;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    align-self: start;
    justify-items: center;
    padding: 2rem;
    margin-left: auto;
  }

  .timing-info .card:first-child {
    grid-column: unset;
  }

  .primary-heading {
    font-size: 48px;
  }

  .secondary-heading {
    font-size: 24px;
  }

  .italic-heading {
    font-size: 18px;
  }

  .card-body span,
  #info p {
    font-size: 14px;
  }

  .text-muted {
    font-size: 10px;
  }

  .ingredients label {
    font-size: 16px;
  }
}
